<style>
	#accueil-noel a {
		color: #fdc76a !important;
	}

	#accueil-noel .noelbox {
		box-shadow: inset 0px 0px 1px rgba(166, 172, 184, 0.85), 0px 0px 2px rgba(58, 87, 121, 0.5);
		font-size: 12px;
		line-height: 14px;
	}
</style>
<div id="pawrap"
	style="background-image:url('https://i.servimg.com/u/f93/11/21/39/05/accuei11.png');padding:0px;background-size: contain;  background-repeat: no-repeat;">

	<div style="position:relative;padding:0px;min-height:720px;height:720px;" id="accueil-noel">

		<div
			style="width:950;display:flex;justify-content:space-around;min-height:520px;height:520px;padding-top:100px;margin:auto;">

			<div style="width:200px;order:2;display:flex;justify-content:space-around;flex-direction:column;" id="accueil_c1">

				<div style="position:relative;background:rgba(0,0,0,0.5);padding-top:30px;padding-bottom:8px;order:1;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus sc;font-size:20px;text-align:center;color:white;line-height:20px;">
						Partenaires
					</div><br />
					<div style="width:50px;margin-left:15px;padding-top:10px;" class="cssactif_tableaupartenaire">

						<table>
							<tbody> </tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tr style="">

							</tr>
							<tbody></tbody>
							<tbody> </tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody></tbody>
							<tbody> </tbody>
							<tbody></tbody>
							<tbody> </tbody>
						</table>

					</div>

				</div>

				<div
					style="order:2;width:200px;position:relative;background:rgba(0,0,0,0.5);padding-top:30px;padding-bottom:8px;text-align:center;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus 	sc;font-size:20px;text-align:center;color:white;">
						On vote !<br/>
						[url=http://en.root-top.com/toplist/virtu4lgames/in.php?ID=6416][img]https://i.ibb.co/FgQFG6W/le2m.png[/img][/url]
						[url=http://en.root-top.com/toplist/gilgamesh/in.php?ID=8385][img]https://i.ibb.co/FgQFG6W/le2m.png[/img][/url]
						[url=http://en.root-top.com/toplist/serpentgy/in.php?ID=12308][img]https://i.ibb.co/FgQFG6W/le2m.png[/img][/url]
						[url=http://en.root-top.com/toplist/virtu4ldreaiviz/in.php?ID=5583][img]https://i.ibb.co/FgQFG6W/le2m.png[/img][/url]
						[url=http://en.root-top.com/toplist/obsession27/in.php?ID=26534][img]https://i.ibb.co/FgQFG6W/le2m.png[/img][/url]
					</div><br />
				</div>

				<div style="order:3;">

				</div>

			</div>

			<div style="width:200px;order:3;display:flex;flex-direction:column;justify-content:space-between;"
				id="accueil_c2">

				<div
					style="position:relative;background:rgba(0,0,0,0.55);padding:8px;padding-top:30px;padding-bottom:10px;padding-right:8px;text-shadow:0px 0px 5px rgba(0,0,0,0.9);order:3;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus sc;font-size:20px;text-align:center;color:white;">
						Annonces !
					</div>

					<table
						style="width:95%;margin:auto;color:white;border-bottom:rgba(255,255,255,0.5) solid 1px;font-family: Georgia; font-size:12px;">
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tr style="">

							<td style="padding-top:5px;padding-bottom:5px;">

							</td>

						</tr>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody> </tbody>
					</table>

					<table
						style="width:95%;margin:auto;color:white;border-bottom:rgba(255,255,255,0.5) solid 1px;font-family: Georgia; font-size:12px;">
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tr style="">

							<td style="padding-top:5px;padding-bottom:5px;">

							</td>

						</tr>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody> </tbody>
					</table><br /><br /><br /><br />
				</div>

				<div
					style="position:relative;background:rgba(0,0,0,0.55);padding:8px;padding-top:40px;padding-bottom:10px;order:2;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus sc;font-size:20px;text-align:center;color:white;">
						Prédéfinis
					</div>

					<table class="pred" style="border-collapse:separate;border-spacing:8px 4px;margin:auto;">
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tr style="">

						</tr>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tr style="">

						</tr>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody> </tbody>
						<tbody></tbody>
						<tbody> </tbody>
					</table>

				</div>

				<div
					style="position:relative;background:rgba(0,0,0,0.55);padding:8px;padding-top:40px;padding-bottom:10px;padding-right:80px;order:2;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus sc;font-size:20px;text-align:center;color:white;">
						Membres du staff
					</div>

					<ul>

						<li>
							<a href="https://brise-singhr.forumactif.com/u1">Elly</a>
						</li>

						<li>
							<a href="https://brise-singhr.forumactif.com/u3">Fei</a>
						</li>

						<li>
							<a href="https://brise-singhr.forumactif.com/u5">Dixie</a>
						</li>

						<li>
							<a href="https://brise-singhr.forumactif.com/u6">VItheSixth</a>
						</li>

						<li>
							<a href="https://brise-singhr.forumactif.com/u7">Bill Steelman</a>
						</li>

						<li>
							<a href="https://brise-singhr.forumactif.com/u8">Lucytania</a>
						</li>

					</ul>

					<table class="pa-vistaff">
						<tbody> </tbody>
						<tbody></tbody>
						<tbody></tbody>
						<tbody> </tbody>
					</table>
					<br />
				</div>

			</div>

			<div style="width:300px;order:1;display:flex;flex-direction:column;justify-content:space-between;"
				id="accueil_c3">

				<div
					style="position:relative;background:rgba(0,0,0,0.55) bottom left;font-family: Georgia;font-size:12px;line-height:15px;color:white;text-align:justify;padding:8px;padding-top:40px;order:1;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus sc;font-size:20px;text-align:center;line-height:25px;">
						Un monde semblabe au nôtre et en même temps si différent...
					</div>
					<br /><br />
					<div style="text-shadow:0px 0px 5px black, 0px 0px 5px black;">
						Le monde d'Ekhö est une réalité qui a subtilement divergé de la nôtre : des animaux fantastiques qui
						remplacent la technologie, de la magie, et bien sûr, d’innombrables races qui se partagent le monde. <br />
						Nous sommes dans les années 30 et depuis quelques décennies, la ville de Brise-Singhr a été redécouverte, et
						re-peuplée. Mais qu'est-ce que Brise-Singhr vous demandez-vous ? C'est une ville volante qui croise
						au-dessus du triangle des Bermudes, l'objet de légendes anciennes et maintenant un nouveau <em>far west</em>
						qu'hommes et femmes en quête de gloire ou de liberté viennent repeupler. <br /> Mais tout n'est pas rose
						dans la cité des nuages, les coteries antagonistes bataillent pour chaque miette de pouvoir, chaque parcelle
						de territoire, et personne ne peut rester totalement étranger à leur lutte. Et puis, les immenses entrailles
						de la cité-île regorgent encore de bien des mystères.
					</div><br /><br />
				</div>

				<div
					style="position:relative;background:rgba(0,0,0,0.55);padding:8px;padding-top:40px;padding-bottom:10px;padding-right:80px;order:2;"
					class="noelbox">

					<div
						style="position:absolute;top:0px;left:0px;right:0px;padding:5px 0px;font-family:marcellus sc;font-size:20px;text-align:center;color:white;">
						Liens utiles
					</div>

					<div
						style="font-family:Georgia ;font-size:16px;margin-top:0px;font-variant:small-caps;margin-left:auto;margin-right:auto;margin-bottom:0px;text-align:center;width:280px;"
						cellpadding="0" cellspacing="0">
						¤ <a href="https://brise-singhr.forumactif.com/t50-reglement-rp">Règlement RP</a> ¤ <br /><br /> ¤ <a
							href="https://brise-singhr.forumactif.com/t17-reglement-general">Règles générales</a> ¤ <br /><br /> ¤ <a
							href="https://brise-singhr.forumactif.com/t38-finihistoire-du-monde">Histoire du monde</a> ¤ <br /><br />
						¤ <a href="https://brise-singhr.forumactif.com/t45-guide-du-nouvel-arrivant">Guide du Nouvel Arrivant</a> ¤
						<br /><br />
					</div>

				</div>

			</div>

		</div>

	</div>

</div>