/* fond de page ----------------------------*/

body {
  background-position: top center !important;
}


/* Post----------------------------------------------*/

.messageheader {
  background-repeat: no-repeat;
  height: 170px;
  display: table-row;
  margin-top: 20px;
  background-image: url('https://cdn.discordapp.com/attachments/666011812319199233/843156155894464542/messageheader.png');
  padding: 0px;
}

/*Organisation en-tête et message -----------------------*/
.postbody {
  display: table;
  padding: 0px;
  margin: 0px;
  /*Should be compatible with .postprofile's width so that avatar and messages don't overlap */
}

#messagebody {
  width: 700px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 7%;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-radius: 30px;
  padding: 20px;
  background-color: #f6c9aa;
}

#avatarcolonne {
  background-color: #3c1d05;
  /*Coller l'avatar au message en retirant le padding côté avatar*/
  padding: 0px;
}

#post_main_block {
  /*Coller l'avatar au message en retirant le padding côté */
  padding-left: 0px;
  padding-top: 0px;
}


/*Lettrine----------------------*/

#messagebody:first-of-type:first-letter {
  float: left;
  font-size: 4em;
  line-height: 80%;
  margin: -.1em 0px;
  padding-right: .1em;
  font-family: Georgia;
}


/* Width of postprofile (i.e. avatar's div) to avoid avatar overlapping on posts*/

.postprofile {
  width: 200px;
  margin-left: 15px;
  margin-top: 20px;
}

#message {
  margin-left: 30px;
}


/* Code block dans les posts------------------------------------------------*/

dl.codebox {
  padding: 3px;
  background-repeat: repeat;
  background-color: #da7601;
  border: 1px solid #000000;
  font-size: 1em;
}

dl.codebox dt {
  text-transform: uppercase;
  border-bottom: 0px solid #CCCCCC;
  margin-bottom: 3px;
  font-weight: bold;
  display: block;
}

blockquote dl.codebox {
  margin-left: 0;
}

dl.codebox code {
  overflow: auto;
  display: block;
  height: auto;
  max-height: 200px;
  white-space: normal;
  padding-top: 5px;
  font: 0.9em Courier, CourierNew, sans-serif;
  line-height: 1.3em;
  color: #3b2000;
  margin: 2px 0;
}


/* Blockquote citation------------------------------------------------*/

blockquote {
  margin: 1em 1px 1em 25px;
  padding: 5px;
  background-image: url('https://i.servimg.com/u/f40/11/60/94/76/sombre10.png');
  background-repeat: repeat;
  border: 1px solid #000000;
  font-size: 0.95em;
  margin: 1em 1px 1em 25px;
  overflow: hidden;
}

blockquote div {
  margin-left: 0px;
}

blockquote blockquote {
  background-color: #EFEED9;
  font-size: 1em;
  margin: 0.5em 1px 0pt 15px;
}


/* Table-------------------------------------------------*/

.forabg {
  background-repeat: repeat;
  border: 1px solid #000000;
}

.forumbg {
  background-repeat: repeat;
  border: 1px solid #000000;
}


/* Input Button Form---------------------------------------------------------*/

input.button1,
input.button2,
button.button2 {
  font-size: 1em;
}

a.button1,
input.button1 {
  font-weight: bold;
  border: 1px solid #000000;
}

a.button2,
input.button2,
button.button2 {
  border: 1px solid #000000;
}

a.button1,
input.button1,
a.button2,
input.button2,
button.button2 {
  width: auto !important;
  padding: 2px 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #b7e6ff;
  background-repeat: no-repeat;
  background-color: #005456;
  background-image: url('https://2img.net/i/fa/empty.gif');
  background-position: top;
  overflow: visible;
}

body:last-child a.button1,
input.button1,
a.button2,
input.button2,
button.button2 {
  /* Opera does not see this */
  padding: 1px 0;
}

a.button1:hover,
input.button1:hover,
a.button2:hover,
input.button2:hover,
button.button2:hover {
  border: 1px solid #000000;
  color: #fffc9e;
  background-position: 0 100%;
}

a.button1:link,
a.button1:visited,
a.button1:active,
a.button2:link,
a.button2:visited,
a.button2:active {
  color: #b7e6ff;
  text-decoration: none;
  padding: 2px 8px;
  line-height: 250%;
  vertical-align: text-bottom;
  background-position: 0 1px;
}

* html input.button1,
* html input.button2,
* html button.button2 {
  padding-bottom: 0;
  margin-bottom: 1px;
}

*+html button.button2 {
  height: 24px;
  padding-right: 3px;
  padding-left: 3px;
}

*+html button.button2 img {
  vertical-align: middle;
}

* html button.button2 {
  height: 24px;
  padding-right: 3px;
  padding-left: 3px;
}

* html button.button2 img {
  vertical-align: middle;
}


/* Tags-------------------------------------------------*/

select {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #000000;
  padding: 1px;
  background-color: #005456;
  color: #b7e6ff;
}


/* Smilies-------------------------------------------------*/

#smiley-box {
  float: right;
  margin-top: 25px;
  width: 18%;
  background-color: #005456;
}

#smiley-box-wysiwyg {
  float: left;
  margin: 25px 0px 0px 15px;
  width: 20%;
  background-color: #005456;
}

* html #smiley-box-wysiwyg {
  margin: 25px 3px 0px 0px;
  background-color: #005456;
}

*+html #smiley-box-wysiwyg {
  margin: 25px 3px 0px 0px;
  background-color: #005456;
}

#smiley-box iframe {
  border: none;
  overflow: auto;
  height: 300px;
  width: 100%;
  height: 280px;
  background-color: #005456;
}

#smiley-box-wysiwyg iframe {
  border: none;
  overflow: auto;
  height: 300px;
  width: 100%;
  height: 280px;
  background-color: #005456;
}

.smiley-element img {
  margin: 0px 15px 10px 0px;
}

/* Hopeful attempt to horizontally align fucking avatar and post body é_è*/

#post_parent_bloc {
  display: flex;
}


/*****************Mise en page du forum sur 2 colonnes*************/


/* MISE EN FORME DES CATEGORIES ET FORUMS */

.cate_titre {
  clear: both;
  height: 100px;
  margin-top: 50px;
}

.catetitre_bloc {
  position: relative;
  z-index: 1;
  display: block;
  width: 90%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.catetitre_content {
  position: absolute;
  z-index: 2;
  display: block;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  text-align: center;
  padding: 2px;
  padding-left: 80px;
}

.catetitre {
  color: #2eff06;
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px #000000;
}

.forum_bloc {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.forum {
  float: left;
  width: 460px;
  height: 250px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
}

a.forumlink {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  color: #a8ff00;
  text-align: center;
  font-family: garamond;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px #000000;
  transform: all;
  -moz-transform: all;
  -o-transform: all;
  -htm-transform: all;
  -webkit-transform: all;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
}

a.forumlink:hover {
  letter-spacing: 4px;
  transform: all;
  -moz-transform: all;
  -o-transform: all;
  -htm-transform: all;
  -webkit-transform: all;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
}

.forum_contenu {
  position: relative;
  z-index: 1;
  width: 98%;
  height: 90%;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
  background-color: #442501;
  border-left: 1px solid #191817;
  border-right: 1px solid #191817;
  border-bottom: 1px solid #191817;
  border-top: 5px solid #191817;
  border-radius: 30px;
  box-shadow: 0px 0px 5px #000000;
}

.description {
  display: block;
  width: 400px;
  margin: auto;
  height: 100px;
  overflow: hidden;
  border: 2px solid #251300;
  box-shadow: 1px 1px 1px #191817;
  -moz-box-shadow: 1px 1px 1px #191817;
  -htm-box-shadow: 1px 1px 1px #191817;
  -webkit-box-shadow: 1px 1px 1px #191817;
  -o-box-shadow: 1px 1px 1px #191817;
  border-radius: 10px;
}

.description_contenu {
  position: absolute;
  display: block;
  width: 391px;
  height: 91px;
  overflow: auto;
  background-color: #180c00;
  font-size: 10px;
  color: #9c9c9c;
  text-align: justify;
  padding: 5px;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  transform: all;
  -moz-transform: all;
  -o-transform: all;
  -htm-transform: all;
  -webkit-transform: all;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
  border-radius: 10px;
}

.description_contenu:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
  transform: all;
  -moz-transform: all;
  -o-transform: all;
  -htm-transform: all;
  -webkit-transform: all;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
}

.icone_stats {
  width: 300px;
  margin: auto;
  margin-top: -30px;
}

.stats_lastpost {
  display: block;
  width: 160px;
  height: 80px;
  margin-left: 10px;
  background-color: #783d02;
  border: 1px solid #251300;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.stats {
  display: block;
  margin-bottom: 5px;
  border-bottom: 1px dotted #b5b5b5;
  padding-bottom: 5px;
  font-size: 10px;
  color: #8f8f8f;
}

.lastpost {
  display: block;
  font-size: 11px;
}

.sforum {
  position: relative;
  z-index: 3;
  display: block;
  height: 0;
  background: #191817;
  color: #b5b5b5;
  overflow: hidden;
  transform: all;
  -moz-transform: all;
  -o-transform: all;
  -htm-transform: all;
  -webkit-transform: all;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
}

.ouverture_sousforum {
  position: relative;
  z-index: 3;
  display: block;
  float: right;
  width: 120px;
  margin-right: 20px;
  background: #191817;
  color: #b5b5b5;
  font-size: 11px;
  text-align: center;
  padding: 4px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sous_forum:hover .sforum {
  height: 50px;
  background: #191817;
  color: #b5b5b5;
  padding: 4px;
  overflow: auto;
  transform: all;
  -moz-transform: all;
  -o-transform: all;
  -htm-transform: all;
  -webkit-transform: all;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -htm-transition: 1s;
  -webkit-transition: 1s;
  border-radius: 30px;
  text-align: center;
}

.sous_forum a {
  color: #b5b5b5 !important;
  text-shadow: 1px 1px 0px #000000;
}

.sous_forum a:hover {
  color: #ffffff !important;
}


/*-------------- Message Accueil--------------*/

#pawrap {
  background-position: top right;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Georgia;
  line-height: 16px;
  font-size: 12px;
  text-align: justify;
}

.pa-t1 {
  margin: auto;
  height: 530px;
  border-collapse: separate;
  border-spacing: 6px 0px;
}

.pa-t1 td {
  position: relative;
  vertical-align: top;
}

.pa-t11 {
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 20px;
}

.pa-t1 a {
  text-decoration: none;
  color: rgba(70, 38, 11, 1);
  font-size: 14px;
  font-variant: small-caps;
  font-family: Georgia;
  text-shadow: 0px 0px 2px #ced4fb;
}

.pa-t1 a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 5px #6255a5;
}

.pa-t11-cel1 {
  background-color: rgba(115, 53, 24, 0.5);
  box-shadow: 0px 0px 5px #6255a5, 0px 0px 5px #ced4fb;
  position: relative;
  padding: 20px 5px 10px 5px;
}

.actit {
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.9);
  font-family: Marcellus sc;
  font-size: 22px;
  font-variant: small-caps;
  text-align: center;
}

.pa-vistaff {
  color: rgba(0, 0, 0, 0.9);
  font-family: 'Marcellus sc';
  font-size: 22px;
  font-variant: small-caps;
  text-align: center;
  padding: 0px !important;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
  margin: 0px;
  position: relative;
  border-collapse: separate;
  border-spacing: 8px 0px !important;
}

.pa-vistaff td {
  height: 58px;
  width: 40px;
  border: 0px;
  padding: 0px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.pa-vistaff a {
  padding: 13px 19px;
  width: 0px;
  height: 0px;
}

.pa-vistaff a span {
  position: absolute;
  margin-top: 50px;
  margin-left: -10px;
  color: white;
  background-position: -0px -63px;
  padding-top: 130px;
  width: 100px;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
  font-size: 10px;
  font-variant: normal;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  text-align: center;
  line-height: 13px;
  transform: scale(0) rotate(-12deg);
  z-index: -1;
  opacity: 0;
  transition: all .40s;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7);
}

.pred td {
  height: 40px;
  width: 39px !important;
  max-width: 38px;
  overflow: hidden;
  padding: 0px;
  padding-top: 0px;
}

.pred a span {
  padding: 9px 20px;
  width: 0px;
  height: 0px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.pa-vistaff td:hover span {
  opacity: 1;
  transform: scale(1) rotate(0);
  z-index: 3;
}

.aclien div {
  width: 130px;
  font-variant: small-caps;
  padding-bottom: 5px;
}

.aclien td {
  background-position: 0px 0px;
  text-align: center;
  border-top-left-radius: 100px 20px;
  border-bottom-left-radius: 20px 100px;
  box-shadow: inset 0px 0px 3px rgba(115, 53, 24, 0.7);
}

.aclien td:hover {
  background-position: 0px -32px;
}

div.cssactif_tableaupartenaire {
  width: 324px;
  /* À adapter en fonction du nombre de colonnes désirées (typiquement: (NOMBRE_COLONNE * (2*MARGE)) + (4 * Largeur initiale) */
  line-height: 0;
  /* À ne pas modifier */
}

div.cssactif_tableaupartenaire a,
div.cssactif_tableaupartenaire a img {
  height: 27px;
  /* Hauteur initiale */
  width: 77px;
  float: left;
  /* Largeur initiale */
}

div.cssactif_tableaupartenaire a {
  display: inline-block;
  /* À ne pas modifier */
  position: relative;
  /* À ne pas modifier */
  margin: 1px;
  /* MARGE entre les images */
}

div.cssactif_tableaupartenaire a img {
  display: block;
  /* À ne pas modifier */
  position: absolute;
  /* À ne pas modifier */
  left: 0;
  /* À ne pas modifier */
  top: 0;
  /* À ne pas modifier */
  transition: all 0.2s linear;
  margin: 0px;
}

div.cssactif_tableaupartenaire a:hover img {
  height: 35px;
  /* Hauteur finale */
  width: 100px;
  /* Largeur finale */
  z-index: 90;
  /* Place l'image au-dessus des autres */
  /* Positionne le logo de pleine taille au centre - À adapter */
  left: -25%;
  top: -30%;
}

#ts a img {
  height: 31px;
  width: 30px;
}

.pa-t1 ul,
.accueil li {
  margin: 0px;
  padding-left: 15px;
  text-align: justify;
}

.pa-t1 b {
  font-variant: small-caps;
  font-size: 12px;
}

.pa-event {
  width: 308px;
  margin: auto;
  min-height: 109px;
  height: 109px;
  max-height: 109px;
  position: relative;
  border-top-left-radius: 80px 20px;
  border-top-right-radius: 80px 20px;
  border-bottom-left-radius: 40px 20px;
  border-bottom-right-radius: 40px 20px;
  overflow: hidden;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-variant: normal;
}

.pa-event>div:first-child {
  background: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  position: absolute;
  left: 30px;
  top: 0px;
  right: 0px;
  font-family: marcellus sc;
  padding-top: 2px;
  padding-left: 5px;
}

.pa-event>div:nth-child(2) {
  position: absolute;
  top: 20px;
  bottom: 18px;
  left: 30px;
  right: 0px;
  padding: 3px 6px;
  font-size: 12px;
}

.pa-event>div:nth-child(3) {
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 30px;
  top: 93px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
}

#elly {
  background-image: url("https://i.servimg.com/u/f93/11/21/39/05/8810.png");
  background-repeat: no-repeat;
  background-size: 200px 250px;
}


/*-------------- FIN Message Accueil--------------*/


/************************************************************ DÉBUT QEEL ************************************************************/


/*Fond du qeel*/

#qeel {
  position: relative;
  width: 950px;
  height: 720px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background: #2d1700 url('https://i.servimg.com/u/f93/11/21/39/05/qeel13.png') no-repeat top center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000000;
}


/*Titre du qeel*/

#qeel_title {
  color: goldenrod;
  font-size: 44px;
  font-family: 'Great Vibes', cursive;
  text-shadow: 1px 1px 2px #000000;
  padding-left: 15px;
}


/*Carré des informations sur les membres*/

#qeel_info_members {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 320px;
  height: 290px;
  background-color: rgba(20, 19, 19, 0.6);
  border-radius: 10px;
  box-shadow: 0px 0px 3px #2d1700;
  padding: 10px;
  color: #c9c7be;
  font-size: 13px;
  font-family: arial;
  letter-spacing: 1px;
  text-align: left;
}


/*Mise en forme des listes des membres connectés*/

#userlists {
  margin-top: 5px;
  height: 205px;
  overflow: auto;
}

#totalconn {
  margin-top: 5px;
}

#totalconn .row1 {
  background: transparent;
  vertical-align: top;
}

#totalconn .gensmall {
  color: #c9c7be;
  font-size: 13px;
  font-family: arial;
  letter-spacing: 1px;
  text-align: left;
}


/*Section des groupes*/

#qeel_bottom {
  position: absolute;
  top: 418px;
  left: 0px;
  width: 950px;
  text-align: center;
}


/*Nom des groupes*/

.qeelonglet {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  height: 40px;
  font-size: 38px;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
  text-shadow: 0px 0px 3px #000000;
  opacity: 0.8;
}


/*Groupe au survol*/

.qeelonglet_0:hover {
  cursor: pointer;
  opacity: 0.8;
}


/*Groupe actif*/

.qeelonglet_1 {
  opacity: 1;
}


/*Description des groupes*/

.contenu_qeelonglet {
  position: relative;
  width: 950px;
  height: 200px;
  margin-top: 20px;
  display: none;
}


/*Images des groupes*/

.contenu_qeelonglet img {
  width: 950px;
  height: 200px;
  border-radius: 0px 0px 20px 20px;
}


/*Descriptions des groupes*/

.qeel_desc {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 930px;
  height: 180px;
  background-color: rgba(20, 19, 19, 0.6);
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
  color: #c9c7be;
  font-size: 13px;
  font-family: arial;
  letter-spacing: 1px;
  text-align: justify;
  overflow: auto;
  transition: 0.5s;
  opacity: 0;
}


/*Descriptions des groupes au survol*/

.contenu_qeelonglet:hover .qeel_desc {
  opacity: 1;
}


/************************************************************ FIN QEEL ************************************************************/

#i_icon_mini_calendar {
  display: none !important;
}


/************************************** BEGINNING BANNER AND NAVLINKS TWEEKS *************************************************/


/*Getting the navlinks closer to the banner by reducing their height (so that they "overflow" on the banner)*/

.navlinks {
  height: 30px;
}


/*Disabling  the weird black line between navlinks and banner*/

ul.navlinks {
  border-bottom: none;
}


/*Centering the banner... empirical, I don't understand why setting this has this effect^^' */

#logo {
  width: 995px;
}


/*Removing navbar i.e. the "search" button*/

.navbar {
  display: none;
}


/*Gettint the navlinks closer to the top of the page*/

#wrap {
  padding: 0px 5px 5px 5px;
}

#phpbb {
  padding: 0px 0px 10px 0px;
}


/***************************************** END BANNER AND NAVLINKS TWEEKS ****************************************************/


/***************************************** BEGINNING VARIOUS FIXES ***********************************************************/


/* Fixing "nouveau" and "répondre" buttons*/

.post-icon {
  max-height: 50px;
}


/***************************************** END VARIOUS TWEAKS ****************************************************************/

.Nep_categ1 {
  background-image: url(https://wamu.org/wp-content/uploads/2020/10/20201007-lauriethompson11-web-900x525.jpg) !important;
}


/* Navbar at the top of the index box */

.navig {
  position: absolute;
  top: 0px;
  width: 100%;
}


/* Verticaly align banner with border */

#i_logo {
  margin-top: 60px;
}


/* Disable like/unlike buttons */

.fa_like_div {
  display: none;
}


/* Disable "partager"/"Plus !" buttons */

.gensmall.bold {
  display: none;
}


/* Disable notifications bar */

#fa_toolbar {
  display: none;
}

#fa_toolbar_hidden {
  display: none;
}


/* Removing ugly green-white border from header and footer of a subject */

td.cat,
td.catBottom,
td.catHead,
td.catLeft,
td.catRight,
td.catSides {
  border-style: none;
}


/*Configuring the horizontal bar between poster name and message */

#bar_between_poster_message {
  border: solid #D6F2A9;
  height: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-left: 0px;
  width: 136px;
}


/*Retrait du sous-lignage pour les liens quand survolés*/

a:hover {
  text-decoration: none !important;
}


/*Changer la couleur du rang et de la date*/

.postdetails {
  color: #b9a19b;
}


/******************************************************/
/**                                     FICHE PERSO                                                  **/
/******************************************************/

/*Feuille perso overlay -------------------------------------*/
.contourfeuille {
  border: 2px solid #341800;
  /* taille, style et couleur de la bordure du cadre */
  background-color: #472100;
  /* Couleur du fond du cadre */
  border-radius: 10px;
  /* Pour arrondir les angles */
  display: none;
  /* Hidden by default */
  padding: 5px;
  /* overflow: hidden; */
  position: absolute;
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  right: 250;
  width: 800;
  text-align: justify;
  column-count: 2;
}

#bouton_fiche_perso {
  background: url("https://cdn.discordapp.com/attachments/666011812319199233/843213237586493440/ficheperso.png");
}