{JAVASCRIPT}
<!-- BEGIN message_admin_index -->
<table class="forumline" width="100%" border="0" cellspacing="1" cellpadding="0">
  <!-- BEGIN message_admin_titre -->
  <tr>
    <td class="catHead" height="28"><span class="cattitle">{message_admin_index.message_admin_titre.MES_TITRE}</span>
    </td>
  </tr>
  <!-- END message_admin_titre -->
  <!-- BEGIN message_admin_txt -->
  <tr>
    <td class="row1" rowspan="3" align="center" valign="middle">
      <div class="gensmall">{message_admin_index.message_admin_txt.MES_TXT}</div>
    </td>
  </tr>
  <!-- END message_admin_txt -->
</table>
<!-- END message_admin_index -->

<!-- BEGIN switch_user_login_form_header -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
    <tr>
      <td width="50%" valign="top" align="{switch_user_login_form_header.V_ALIGN}" class="row1">

        <table>
          <tr>
            <td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
            <td><input class="post" type="text" size="10" name="username" />&nbsp;</td>
            <td>
              <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
              <span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
            </td>
          </tr>

          <tr>
            <td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
            <td><input class="post" type="password" size="10" name="password" />&nbsp;</td>
            <td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
          </tr>
        </table>
      </td>

      <!-- BEGIN switch_social_login -->
      <td width="10%" align="center" valign="middle" class="row1">
        <span class="genmed fb_or">{switch_user_login_form_header.switch_social_login.L_OR}</span>
      </td>
      <td width="40%" class="align_gauche row1">
        <div class="social_btn">
          <!-- BEGIN fb_connect -->
          <div class="fb-login-button"></div>
          <!-- END fb_connect -->
          <!-- BEGIN topicit_connect -->
          <div class="ti-connect"></div>
          <!-- END topicit_connect -->
        </div>
      </td>
      <!-- END switch_social_login -->

    </tr>
  </table>
</form>
<!-- END switch_user_login_form_header -->

{CHATBOX_TOP}
{BOARD_INDEX}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="50%" valign="top">
      <!-- BEGIN switch_user_logged_in -->
      <span class="gensmall"><a href="{U_MARK_READ}" class="gensmall">{L_MARK_FORUMS_READ}</a></span>
      <!-- END switch_user_logged_in -->
      <!-- BEGIN switch_delete_cookies -->
      <br /><span class="gensmall"><a href="{switch_delete_cookies.U_DELETE_COOKIES}" class="gensmall"
          rel="nofollow">{switch_delete_cookies.L_DELETE_COOKIES}</a></span>
      <!-- END switch_delete_cookies -->
    </td>
    <td width="50%" align="right">
      <span class="gensmall">
        <a href="{U_TODAY_ACTIVE}" class="gensmall">{L_TODAY_ACTIVE}</a><br />
        <a href="{U_TODAY_POSTERS}" class="gensmall">{L_TODAY_POSTERS}</a><br />
        <a href="{U_OVERALL_POSTERS}" class="gensmall">{L_OVERALL_POSTERS}</a>
        <!-- BEGIN switch_on_index -->
        <!-- BEGIN switch_delete_cookies -->
        <br /><a href="{switch_on_index.switch_delete_cookies.U_DELETE_COOKIES}" class="gensmall"
          rel="nofollow">{switch_on_index.switch_delete_cookies.L_DELETE_COOKIES}</a>
        <!-- END switch_delete_cookies -->
        <!-- END switch_on_index -->
      </span>
    </td>
  </tr>
</table>

<!-- BEGIN switch_user_login_form_footer -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
    <tr>
      <td width="50%" valign="top" align="right" class="row1">

        <table>
          <tr>
            <td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
            <td><input class="post" type="text" size="10" name="username" />&nbsp;</td>
            <td>
              <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
              <span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
            </td>
          </tr>

          <tr>
            <td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
            <td><input class="post" type="password" size="10" name="password" />&nbsp;</td>
            <td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
          </tr>
        </table>
      </td>

      <!-- BEGIN switch_social_login -->
      <td width="10%" align="center" valign="middle" class="row1">
        <span class="genmed fb_or">{switch_user_login_form_footer.switch_social_login.L_OR}</span>
      </td>
      <td width="40%" class="align_gauche row1">
        <div class="social_btn">
          <!-- BEGIN fb_connect -->
          <div class="fb-login-button"></div>
          <!-- END fb_connect -->
          <!-- BEGIN topicit_connect -->
          <div class="ti-connect"></div>
          <!-- END topicit_connect -->
        </div>
      </td>
      <!-- END switch_social_login -->

    </tr>
  </table>
</form>
<!-- END switch_user_login_form_footer -->

<!-- BEGIN disable_viewonline -->

<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css' />
<div id="qeel">

  <div id="qeel_info_members">
    <span id="totaluser">{TOTAL_USERS}</span>
    <span id="totalpost">{TOTAL_POSTS}</span>
    <span id="newuser">{NEWEST_USER}</span>.
    <span id="totalonline">{TOTAL_USERS_ONLINE}</span>.
    <div id="userlists">
      <div id="loggedlist">{LOGGED_IN_USER_LIST}</div>
      <div id="totalconn">
        <table cellspacing="0" cellpadding="0">{L_CONNECTED_MEMBERS}</table>
      </div>
    </div>
    <div id="qeel_title">
      Qui va là?
    </div>

    <script type="text/javascript">
      document.getElementById('totaluser').innerHTML = document.getElementById('totaluser').innerHTML.replace(
        /Nous avons/, "Nos");
      document.getElementById('totaluser').innerHTML = document.getElementById('totaluser').innerHTML.replace(
        /membres enregistrés/, "guerriers");
      document.getElementById('totalpost').innerHTML = document.getElementById('totalpost').innerHTML.replace(
        /Nos membres ont posté un total de/, "ont gagné");
      document.getElementById('totalpost').innerHTML = document.getElementById('totalpost').innerHTML.replace(
        /messages/, "batailles");
      document.getElementById('totalpost').innerHTML = document.getElementById('totalpost').innerHTML.replace(/message/,
        "bataille");
      document.getElementById('newuser').innerHTML = document.getElementById('newuser').innerHTML.replace(
        /L'utilisateur enregistré le plus récent est/, "et notre plus nouvelle recrue est");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Il y a en tout/, "Il y a");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /utilisateurs en ligne ::/, "aventuriers qui parcourent nos terres, dont");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /utilisateur en ligne ::/, "aventurier qui parcourt nos terres, dont");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Enregistrés/, "guerriers");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Enregistré/, "guerrier");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Invisibles/, "fantômes");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Invisible/, "fantôme");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Invités /, "inconnus");
      document.getElementById('totalonline').innerHTML = document.getElementById('totalonline').innerHTML.replace(
        /Invité /, "inconnu");
      document.getElementById('loggedlist').innerHTML = document.getElementById('loggedlist').innerHTML.replace(
        /Utilisateurs enregistrés/, "Guerriers présentement sur nos terres");
      document.getElementById('totalconn').innerHTML = document.getElementById('totalconn').innerHTML.replace(
        /Membres connectés/, "Guerriers ayant été présents");
    </script>
  </div>

  <div id="qeel_bottom">

    <script type="text/javascript">
      //<!--
      function change_qeelonglet(name) {
        document.getElementById('qeelonglet_' + anc_qeelonglet).className = 'qeelonglet_0 qeelonglet';
        document.getElementById('qeelonglet_' + name).className = 'qeelonglet_1 qeelonglet';
        document.getElementById('contenu_qeelonglet_' + anc_qeelonglet).style.display = 'none';
        document.getElementById('contenu_qeelonglet_' + name).style.display = 'block';
        anc_qeelonglet = name;
      }
      //-->
    </script>

    <span class="qeelonglet_1 qeelonglet" id="qeelonglet_Groupe1" onclick="javascript:change_qeelonglet('Groupe1');">
      <font color="#08BDFF">Le corps expéditionnaire</font>
    </span>
    <span class="qeelonglet_0 qeelonglet" id="qeelonglet_Groupe2" onclick="javascript:change_qeelonglet('Groupe2');">
      <font color="#FF7A05">Les Lames</font>
    </span>
    <span class="qeelonglet_0 qeelonglet" id="qeelonglet_Groupe3" onclick="javascript:change_qeelonglet('Groupe3');">
      <font color="#00F038">Le personnel navigant</font>
    </span>
    <span class="qeelonglet_0 qeelonglet" id="qeelonglet_Groupe4" onclick="javascript:change_qeelonglet('Groupe4');">
      <font color="#FC0000">Les Clairs-Obscurs</font>
    </span>
    <span class="qeelonglet_0 qeelonglet" id="qeelonglet_Groupe5" onclick="javascript:change_qeelonglet('Groupe5');">
      <font color="#FFF530">Les Limiers</font>
    </span>

    <div class="contenu_qeelonglet" id="contenu_qeelonglet_Groupe1">
      <img src="https://i.servimg.com/u/f93/11/21/39/05/explor10.png" alt="Image du groupe 1" />
      <div class="qeel_desc">
        Composé d'érudits, d'explorateurs, de pilleurs de tombe ou de chasseurs émérites, le corps expéditionnaire
        représentent tous ceux qui sont envoyés sur le terrain à la recherche de fabuleuses découvertes. <br>Il
        appartient à la SAGE, la société d'archéologie, de géologie et d'exploration. Financés autant par de
        respectables universités que des intérêts privés, ils sillonnent le monde à la recherche d'artefacts rares,
        repoussent sans cesse les limites des Terrae icognitae.
      </div>
    </div>
    <div class="contenu_qeelonglet" id="contenu_qeelonglet_Groupe2">
      <img src="https://i.servimg.com/u/f93/11/21/39/05/lames10.png" alt="Image du groupe 2" />
      <div class="qeel_desc">
        Miliciens, mercenaires, docteurs fous, la plupart sont de véritables rescapés de la Guerre, défigurés, monstres
        de foire ayant abusé des Epices. Très polyvalents, ils louent leurs services aux plus offrants. Ils peuvent être
        gardes du corps, milices privées, médecins personnels et véreux, spécialistes des écoutes, polyglottes,
        détectives privés aux méthodes musclées, etc... <br>Ils appartient aux Honorables de la Grande Guerre,
        association à la façade vertueuse, censée aider tous les rescapés, orphelins, anciens soldats, paysans ruinés.
      </div>
    </div>
    <div class="contenu_qeelonglet" id="contenu_qeelonglet_Groupe3">
      <img src="https://i.servimg.com/u/f93/11/21/39/05/person11.png" alt="Image du groupe 3" />
      <div class="qeel_desc">
        Venu de tous les horizons du monde, de toutes les classes sociales, le personnel navigant compose les équipages
        pirates qui sillonnent les cieux de Brise-Singhr. Ce sont des fils de bonne famille déshérités, des
        saltimbanques, d'anciens marins, des aventuriers. <br> Ils appartiennent aux Gentilhommes et gentillesdames des
        airs. Malgré leur illégalité, ils sont une source de revenus importants pour Brise-Singhr qui les tolèrent et
        les protègent même parfois tout en les menaçant des pires condamnations pour satisfaire les autres pays. Ils
        sont à l'origine d'une grande partie des objets du marché noir.
      </div>
    </div>
    <div class="contenu_qeelonglet" id="contenu_qeelonglet_Groupe4">
      <img src="https://i.servimg.com/u/f93/11/21/39/05/clairs10.png" alt="Image du groupe 4" />
      <div class="qeel_desc">
        Travailleurs de l'ombre, les Clairs-Obscurs offrent des services luxueux pour des règlements de compte propres
        et efficaces. Ils peuvent recourir à tous les moyens : assassinat, espionnage, prostitution, chantage,
        espionnage industriel... <br> Ils sont tous affiliés à une respectable institution avec pignon sur rue, la
        Guilde des assassins. C'est l'une des spécialités brisanes les plus déroutantes. Parfaitement officielle, la
        guilde des assassins fournit des contrats et des garanties à toute personne désireuse d'éliminer son prochain.
        S'y trouvent aussi de nombreux espions, maître-chanteur, courtisanes sulfureuses, maîtres en poison... Bref,
        tout ce qu'il faut pour tuer, envoûter, contrôler un rival détesté. Nul autre ne peut officier sans contrat avec
        la Guilde. Et malheur au commanditaire qui ne tiendrait pas sa parole.
      </div>
    </div>
    <div class="contenu_qeelonglet" id="contenu_qeelonglet_Groupe5">
      <img src="https://i.servimg.com/u/f93/11/21/39/05/limier10.png" alt="Image du groupe 5" />
      <div class="qeel_desc">
        Ils n'ont qu'une idée en tête, prouver que les Preshauns ne sont pas ceux qu'ils semblent être. Ils cherchent
        inlassablement la moindre preuve. Ils peuvent être détectives, témoins, avocats, hommes politiques... toutes les
        bonnes volontés sont bonnes à prendre quand on en vient aux Preshauns. <br> Ils sont tous discrets car ils
        appartiennent à la société secrète des Enluminati. Ils sont persuadés que les Preshauns contrôlent le monde et
        sont en réalité des bêtes assoiffées de sang, qui organiseraient des chasses à l'homme dans les jardins de leurs
        immenses palais partout à travers la planète. Ils trament pour détruire à jamais l'engeance maléfique de ces
        sournois rongeurs. Ils florissent dans l'île grâce à l'immunité - toute relative - dont ils disposent.
      </div>
    </div>

    <script type="text/javascript">
      //<!--
      var anc_qeelonglet = 'Groupe1';
      change_qeelonglet(anc_qeelonglet);
      //-->
    </script>

  </div>
</div>
<!-- END disable_viewonline -->

{CHATBOX_BOTTOM}
<br clear="all" />
<!-- BEGIN switch_legend -->
<table border="0" cellspacing="3" cellpadding="0" align="center">
  <tr>
    <td align="center" width="20"><img src="{FORUM_NEW_IMG}" alt="{L_NEW_POSTS}" /></td>
    <td><span class="gensmall">{L_NEW_POSTS}</span></td>
    <td></td>
    <td align="center" width="20"><img src="{FORUM_IMG}" alt="{L_NO_NEW_POSTS}" /></td>
    <td><span class="gensmall">{L_NO_NEW_POSTS}</span></td>
    <td>&nbsp;&nbsp;</td>
    <td align="center" width="20"><img src="{FORUM_LOCKED_IMG}" alt="{L_FORUM_LOCKED}" /></td>
    <td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
  </tr>
</table>
<!-- END switch_legend -->

{AUTO_DST}