<table width="100%" border="0" cellspacing="1" cellpadding="0" align="center">
  <tr>
    <td valign="bottom">
      <!-- BEGIN switch_user_logged_in -->
      <span class="gensmall">{LAST_VISIT_DATE}<br />
        {CURRENT_TIME}<br />
      </span>
      <!-- END switch_user_logged_in -->
      <div class="nav"><a class="nav" href="{U_INDEX}">{L_INDEX}</a>{NAV_CAT_DESC}</div>
    </td>
    <td class="gensmall" align="right" valign="bottom">
      <!-- BEGIN switch_user_logged_in -->
      <a class="gensmall" href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><br />
      <a class="gensmall" href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><br />
      <!-- END switch_user_logged_in -->
      <a class="gensmall" href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
    </td>
  </tr>
</table>

<!-- BEGIN catrow -->
<!-- BEGIN tablehead -->

<div class="cate_titre"><span class="catetitre_bloc"></span>
  <span class="catetitre_content">{catrow.tablehead.L_FORUM}</span></div>

<!-- END tablehead -->
<!-- BEGIN cathead -->


<!-- END cathead -->
<!-- BEGIN forumrow -->


<div class="forum_bloc">
  <div class="forum">

    <span class="forumlink">
      <a class="forumlink" href="{catrow.forumrow.U_VIEWFORUM}">{catrow.forumrow.FORUM_NAME}</a>
    </span>

    <div class="forum_contenu">
      {catrow.forumrow.FORUM_DESC}<br />

      <div class="icone_stats">
        <table>
          <tr>
            <td><img title="{catrow.forumrow.L_FORUM_FOLDER_ALT}" src="{catrow.forumrow.FORUM_FOLDER_IMG}"
                alt="{catrow.forumrow.L_FORUM_FOLDER_ALT}" class="icone" /></td>
            <td><span class="stats_lastpost">
                <span class="stats">{catrow.forumrow.TOPICS} sujets ; {catrow.forumrow.POSTS} messages</span>
                <span class="lastpost">{catrow.forumrow.LAST_POST}</span>
              </span></td>
          </tr>
        </table>
      </div>

    </div>

    <div class="sous_forum">
      <span class="sforum">{catrow.forumrow.L_LINKS}{catrow.forumrow.LINKS}</span>
      <span class="ouverture_sousforum">Voir les sous-forum</span>
    </div>

  </div>
</div>


<!-- END forumrow -->
<!-- BEGIN catfoot -->

<!-- END catfoot -->
<!-- BEGIN tablefoot -->

<!-- END tablefoot -->
<!-- END catrow -->