<style>
  .races_tab {
    position: relative;
    width: 800px;
    margin: auto;
    overflow: hidden;
    background-size: 150px;
  }

  /* On cache les input */
  .races_tab>input {
    display: none;
  }

  /* Mise en forme du titre du tableau */
  .races_tab .title {
    width: 90%;
    padding-bottom: 2px;
    background: #38813a;
    text-align: center;
    font-family: 'Abel';
    font-size: 30px;
    font-style: italic;
    line-height: 34px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-left: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  /* On met les labels au centre */
  .races_tab .boutons {
    text-align: center;
  }

  /* Mise en forme des labels/titre des onglets normal */
  .races_tab .boutons label {
    margin-left: 6px;
    margin-right: 6px;
    color: white;
    font-size: 23px;
    font-family: 'Abel';
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
    transition: all ease 0.5s;
  }

  /* Effet au survol des labels */
  .races_tab .boutons label:hover {
    color: #c2e4c4ea;
    transition: all ease 0.5s;
  }

  /* On met en place le bloc qui va contenir le contenu de chaque onglet */
  .races_tab .interne {
    position: relative;
    width: 90%;
    height: 700px;
    margin: 10px auto 10px auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background:transparent;
    border-style: solid;
    border-width: 1;
    border-color: black;
    font-family: 'Abel';
    font-size: 15px;
  }

  /* On met en place et en forme le contenu de chaque onglet */
  .races_tab .interne .contenu {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90%;
    height: 660px;
    padding: 10px;
    margin: auto;
    overflow: auto;
    text-align: justify;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
  }

  .boutons {
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
  }

  /* Petit effet sur les b: on change la couleur */
  .races_tab .interne strong {
    color: #BA2F23;
  }

  /* Fait le changement de style sur les labels sélectionnés */
  .races_tab #humains:checked~.boutons .lab.humains,
  .races_tab #nains:checked~.boutons .lab.nains,
  .races_tab #elfes:checked~.boutons .lab.elfes,
  .races_tab #wyvernes:checked~.boutons .lab.wyvernes,
  .races_tab #draques:checked~.boutons .lab.draques,
  .races_tab #selkies:checked~.boutons .lab.selkies,
  .races_tab #changelings:checked~.boutons .lab.changelings,
  .races_tab #faeylines:checked~.boutons .lab.faeylines,
  .races_tab #felis:checked~.boutons .lab.felis,
  .races_tab #dracs:checked~.boutons .lab.dracs,
  .races_tab #migwocks:checked~.boutons .lab.migwocks,
  .races_tab #sylphes:checked~.boutons .lab.sylphes {
    font-family: 'Lobster';
    color: #62e967;
  }

  /* Fait apparaitre le contenu de l'onglet sélectionné */
  .races_tab #humains:checked~.interne .contenu.humains,
  .races_tab #nains:checked~.interne .contenu.nains,
  .races_tab #elfes:checked~.interne .contenu.elfes,
  .races_tab #wyvernes:checked~.interne .contenu.wyvernes,
  .races_tab #draques:checked~.interne .contenu.draques,
  .races_tab #selkies:checked~.interne .contenu.selkies,
  .races_tab #changelings:checked~.interne .contenu.changelings,
  .races_tab #faeylines:checked~.interne .contenu.faeylines,
  .races_tab #felis:checked~.interne .contenu.felis,
  .races_tab #dracs:checked~.interne .contenu.dracs,
  .races_tab #migwocks:checked~.interne .contenu.migwocks,
  .races_tab #sylphes:checked~.interne .contenu.sylphes {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
  }

  .internal_tab {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
  }

  .internal_header {
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #57ba5a;
    color: white;
    font-size: 15;
  }

  .internal_cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14;
  }
</style>

<div class="races_tab"><input checked="" name="races_tab" id="informations" type="radio" />
  <input name="races_tab" id="humains" type="radio" checked />
  <input name="races_tab" id="nains" type="radio" />
  <input name="races_tab" id="wyvernes" type="radio" />
  <input name="races_tab" id="elfes" type="radio" />
  <input name="races_tab" id="draques" type="radio" />
  <input name="races_tab" id="selkies" type="radio" />
  <input name="races_tab" id="changelings" type="radio" />
  <input name="races_tab" id="faeylines" type="radio" />
  <input name="races_tab" id="felis" type="radio" />
  <input name="races_tab" id="dracs" type="radio" />
  <input name="races_tab" id="migwocks" type="radio" />
  <input name="races_tab" id="sylphes" type="radio" />
  <div class="title">Races jouables</div>
  <div class="boutons">
    <label for="humains" class="lab humains">Humains</label>
    <label for="nains" class="lab nains">Nains</label>
    <label for="wyvernes" class="lab wyvernes">Wyvernes</label>
    <label for="elfes" class="lab elfes">Elfes</label>
    <label for="draques" class="lab draques">Draques</label>
    <label for="selkies" class="lab selkies">Selkies</label>
    <label for="changelings" class="lab changelings">Changelings</label>
    <label for="faeylines" class="lab faeylines">Faëylines</label>
    <label for="felis" class="lab felis">Félis</label>
    <label for="dracs" class="lab dracs">Dracs (♂)/Dragas (♀)</label>
    <label for="migwocks" class="lab migwocks">Migwöcks</label>
    <label for="sylphes" class="lab sylphes">Sylphes</label>
  </div>
  <div class="interne">
    <div class="contenu humains">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Semblables à vous et moi</li>
              <li>Grande diversité d'apparence (taille, poids, couleurs de la peau, des cheveux, yeux...)</li>
              <li>Apparence corrélée avec les origines ethniques</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Présents partout dans le globe </li>
              <li> Ils sont les seuls à pouvoir être issus de notre monde s'ils présentent un potentiel magique
                intéressant
                aux yeux des Preshauns. Ils sont alors sauvés au moment de leur mort </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Adaptables en toutes circonstances</li>
              <li>Gardent une nostalgie ou une tendresse particulière pour la Terre dont leurs ancêtres plus ou moins
                lointains sont issus</li>
              <li>Les nouveaux venus cherchent à recréer ce qu'ils ont connus sur Terre</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Perturbations dans la Force</i> : le potentiel magique des humains crée de régulières interférances
                avec
                les sorts lancés dans leur entourage immédiat, à l'exception des leurs (ils peuvent tout de même être
                des
                mages accomplis).</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu elfes">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Grands, secs, physique longiligne et acéré</li>
              <li>Les célèbres oreilles pointues</li>
              <li>Grande diversité (couleur de peau, des yeux, etc) en fonction des éthnies, comme les humains</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Race peu nombreuse de par le monde</li>
              <li>On en trouve nombre de communautés nomades</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Marins et commerçants reconnus</li>
              <li>Doués d'un sens inné des relations sociales et de l'empathie</li>
              <li>Ils sont connus pour leur humour qu'eux seuls comprennent : ça en est un "fierté nationale".
                Cherchez-pas,
                personne en dehors de leurs communautés ne les suit.</li>
              <li>Pour les elfes, la famille, c'est sacré. Tout ce qui a des oreilles pointues est un cousin à un degré
                ou un
                autre et la plupart feront leur possible pour lui rendre service.</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Bénédiction de l'étoile du berger</i> : les elfes ne se perdent pas. Jamais. Ou presque. Grands
                voyageurs
                dans l'âme, ils ont certes pour beaucoup les connaissances nécessaires pour retrouver leur chemin, mais
                ça va
                au-delà de ça, quelque chose de presque surnaturel, un instinct qui les pousse, quand il faut choisir au
                hasard, à aller dans la bonne direction.</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu nains">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Petits, souvent trapus</li>
              <li>Naturellement résistants aux blessures et aux maladies</li>
              <li>Passionnés par leur barbe, même chez les femmes</li>
              <li>Apparence corrélée avec les origines ethniques</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Présents partout dans le globe bien que plus présents au Nord</li>
              <li>Plus présents dans les grandes villes</li>
              <li>Ils disent être nés de la pierre</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Excellents artisans</li>
              <li>Bons vivants</li>
              <li>Typiquement plutôt pacifistes</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Aura de confiance</i> : ils irradient leur bonne foi autour d'eux, d'une façon subtile et difficile
                à
                expliquer mais indéniable. Qu'ils soient entrain de vous faire avaler une couleubre ou de raconter la
                vérité,
                le résultat est le même : les nains ont une capacité surnaturelle à convaincre ceux qui les entourent
                dès
                qu'ils l'ouvrent.</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu wyvernes">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Ils ressemblent à l'image que l'on se fait classiquement des dragons</li>
              <li>Bipèdes</li>
              <li>Peuvent faire jusqu'à 2m50</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Des cousins éloignés des dragons </li>
              <li>Fait partie des races anciennes, ils ont développé une consciene depuis bien, bien longtemps</li>
              <li>Originaires du nord de l'Europe, ils ont étrangement peu essaimé de par le monde malgré leur capacité
                à
                voler</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Grands voyageurs et explorateurs</li>
              <li>Mais sureprenament casaniers, ils sont bien peu à ne pas retourner vivre dans leur pays natal</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Télépathie</i> : ils peuvent communiquer par la pensée avec toute personne suffisamment proche
                (attention
                : il n'est pas question ici de contrôler quoi que ce soit de plus intelligent qu'une mouche par la force
                de
                l'esprit).</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu draques">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Dragon miniature ♂ 1m50/1m80 au garrot, 2m50/3m de long (de haut en mode bipède)</li>
              <li>♀ 1m20/1m60 au garrot, 2m/2m50 de long (de haut en mode bipède)</li>
              <li>Écailles unicolore, toutes les variabilités de couleurs sont possibles, leurs résistances est le
                reflet de
                leur santé. Peuvent être extrêmement solides</li>
              <li>Possèdent des ailes : peuvent voler</li>
              <li>Quadrupèdes, peuvent également se tenir bipède grâce à l'appuie de leur queue. Sont aussi habiles de
                leur
                mains qu'un humain.</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Race apparue il y a quelques centaines d'années, cousine des Wyvernes et des Dragons</li>
              <li>Extrêmement peu nombreux, se trouvent principalement dans les hauts et vastes massifs montagneux </li>
              <li>Nomades et voyageurs</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Souvent a mi chemin entre l'être civilisé et l'animal</li>
              <li>Joueurs, aiment profiter des plaisirs de la vie</li>
              <li>Prédateurs, ne supportent pas le manque de respect</li>
              <li>Très sociable, s'entendent très bien avec les Wyvernes et ont une affinité naturelle avec les dragons
              </li>
              <li>Ne supportent pas le manque de respect</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Souffle de Flamme</i> : Les Draques possèdent une poche à feu secrétant un liquide spécial
                s'enflammant
                violemment au contact de l'air. Éjecté sous pression, la force du souffle est contrôlable bien que
                difficilement et peut faire de gros dégâts. La force et la puissance est soumise à la musculature, au
                physique
                du draque. L'endurance du souffle est soumise à la capacité de la poche à feu : sans entraînement et
                jeunes
                quelques flammèches à peine jusqu'à de véritables torrents de flammes durant plusieurs dizaines de
                secondes
                (25-30 cumulés pour les meilleurs). Le contenu de la poche se régénère avec le temps, plus le draque est
                faible plus c'est long (pouvant aller de quelques heures à plusieurs jours). Les plus adroits peuvent
                concentrer les flammes dans leur gueule pour donner naissance à une boule de feu explosive dévastatrice.
                Attention ! Cette dernière technique est extrêmement complexe et dangereuse (la boule pouvant exploser
                dans la
                gueule du draque si mal exécutée).</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu selkies">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Semblables à des humains (de n'importe quelle origine), les selkies peuvent se transformer en animal
                de la
                même origine qu'eux.</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Présents partout sur le globe</li>
              <li>Une majorité d'entre eux sont des mammifères possédant des affinités avec l'eau (phoques, loutres,
                ornithorynques...)</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Connus pour aimer aider et protéger les autres</li>
              <li>Facétieux et joueurs</li>
              <li>Extrêmement loyaux et fiers de leur famille</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li>Naissent avec sur eux la peau d'un unique animal</li>
              <li>En la revêtant (pas forcément en la passant comme un pull, mais grâce à un rituel), ils prennent son
                apparence ainsi que ses capacités (nage par exemple si c'est une loutre, vue nocturne si c'est un chat),
                ce
                qui les prive de la parole et en font les victimes des mêmes défauts que leur animal (faible résistance
                à la
                chaleur/au froid, etc...)</li>
              <li>Perdre leur peau animale les prive de ce pouvoir, mais, contrairement aux mythes, ne donne pas à celui
                qui
                la détient la possibilité de contrôler le ou la selkie</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu changelings">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Indéfini sous leur forme "naturelle", mais humanoïde</li>
              <li>Prend l'apparence de l'enfant humanoïde avec lequel il est échangé, et reste sous cette forme jusqu'à
                son
                adolescence</li>
              <li>Peut donc prendre l'apparence d'humains, d'elfes, de nains, ...</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Premières apparitions en Scandinavie, il y a trois millénaires de ça</li>
              <li>Chassés au fur et à mesure que les échanges de nourrissons ont été découverts</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Le changeling échange son enfant à la naissance avec un autre enfant, qu’il élève</li>
              <li>Souvent rejetés à l’adolescence, quand la famille adoptive découvre leur nature.</li>
              <li>Mal acceptés par les autres</li>
              <li>Font de très bons espions.</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Changeforme</i> : Les changelings ont la capacité, à partir de l’adolescence, de changer
                d'apparence,
                avec cependant quelques contraintes : leur masse reste constante, ils ne peuvent donc pas passer d'une
                jeune
                femme menue à un colosse baraqué, ils sont limités à la race dont ils ont pris l'apparence à la
                naissance, et
                c'est quand même fatiguant de remodeler tout son corps, il est race qu'un changeling puisse le faire
                plus
                d'une fois par semaine.</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu faeylines">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>D'une apparence hybride entre la wyverne et les fées, l'ensemble de la race possède une paire d'ailes
                fonctionnelles qui sont principalement d'apparence de celles des fées, bien que certains membres ait
                développé
                une paire d'ailes membraneuse. Certains ont une poussée d'écaille sur le dos et sur les jambes. La queue
                de
                reptile semble par contre être l'une des caractéristique de la race. </li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>C'est le croisement entre un wyverne et une fée, ils sont apparus récemment dans les principaux centre
                de
                population dû au croisements interespèces. Croisement peu courant, ils ne sont qu'une faible proportion
                de la
                population dans le monde.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Par habitude d'être abandonné car non voulu par les deux races d'origines, ils sont de nature
                indépendante
                et savent se mêler aux autres races et n'hésitent pas à jouer les intermédiaires pour résoudre des
                conflits.
              </li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Vol</i></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu felis">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>race de chats humanoïdes : ils ont de la fourrure, une queue, de grandes oreilles</li>
              <li>Pdes griffes rétractiles et des coussinets</li>
              <li>felis homo : leurs pattes inférieures sont semblables à ceux d'un chat avec le genou qui se plie vers
                l'arrière</li>
              <li>felis felis : quatre pattes puissantes de félins soutiennent un tronc humain et des bras</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>originaires de l'Orient et du Moyen-Orient, ils ont immigré au fur et à mesure que les hommes avaient
                besoin
                d'eux pour explorer de nouveaux territoires</li>
              <li>deux ethnies coexistent : les felis homo, bipèdes et semblables à des humains poilus et les felis
                felis
                quadrupèdes, semblables à des centaures.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>souvent assez solitaire de caractère</li>
              <li>vivent en petits clans familiaux</li>
              <li>déteste l'eau et être mouillé</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>griffes rétractiles </i></li>
              <li><i>sens félins</i></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu dracs">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Capables d'endosser leur « peau-vraie », et donc de changer de forme</li>
              <li>La plupart ont une apparence reptilienne et serpentine, en général effrayante, mais très variable
                (présence
                ou non de pattes, d'ailes, de cornes...)</li>
              <li>D'autres, plus rares, ont des apparences plus exotiques, les Dracs beaucairois ont un corps de reptile
                et le
                visage d'un humain beau et jeune</li>
              <li>Les Dracs Catalans ont une gemme sur le front et un nombre de tête variable</li>
              <li>Les Dracs des pyrénées prennent une forme d'âne rouge, de cheval, d'agneau, ou d'autres créatures
                innocentes
                guidant les enfants vers un cours d'eau pour les y noyer</li>
              <li>Esprits aquatiques, les Dracs sont en général capables de tenir très longtemps en apnée</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Originaires d'Occitanie et de Catalogne</li>
              <li>Ont pendant des siècles vécus en marge de la société</li>
              <li>On les retrouve presque toujours près de fleuves ou de lacs, où l'on dit que certains se bâtissaient
                même
                des demeures sous-marines</li>
              <li>Souvent mal vus pour leurs capacités de nuisance, les Dracs ont eu tendance à abandonner leurs anciens
                modes
                de vie pour éviter l'hostilité des humains et des autres créatures (et par choix éthiques pour certains)
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Les Dracs sont des esprits des eaux facétieux, ils seront au très grand minimum friand de farces et
                autres
                moqueries.</li>
              <li>Rarement volontaires, cela découle plus souvent d'une forme d'instinct difficilement contrôlable, mais
                dont
                il est possible de réduire l'intensité.</li>
              <li>Les Dracs formant une population très variée, certains se contenteront de voler une chaussette sur
                deux sur
                votre étendoir à linge, là où d'autres iront enlever vos enfants dans leur berceau pour les dévorer</li>
              <li>De nos jours les Dracs se contrôlent de manière à ne jamais mettre la vie d’autrui en danger (se
                contentant
                d'être particulièrement pénibles)</li>
              <li> Assez mal vus dans leur Occitanie et Catalogne d'origine mais méconnus dans le reste du monde</li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li><i>Pèlveraia</i> : Changeforme (« peau-vraie »). La transformation des Dracs altère en général leur
                intelligence, ce qui les empêche d'effectuer des tâches complexes, ou de reconnaître leurs alliés.
                Lorsqu'ils
                sont transformés ils sont en général concentrés sur leur méfait (que ce soit voler vos clés ou vous
                arracher
                la tête). La transformation est fatigante, et revêtir sa pèlveraia plus d'une fois par semaine peut
                faire
                mourir d'épuisement un Drac jeune ou inexpérimenté. Un Drac plus aguerri s'en sortira probablement mais
                passera toute une journée à dormir et à manger pour récupérer.</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu migwocks">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Les Migwöck se distinguent par leur apparence similaire à celle d'enfants humains âgés entre 6 et 8
                ans. En
                revanche, leur peau est entièrement bleue, leur cheveux très noirs, très blancs ou encore verts
                brillants
                selon des critères qu'il est compliqué de déterminer (on pense à une sorte de hasard mais qui sait...
                des
                hypothèses existent, liées surtout aux saisons de naissance de chaque Mugwöck qui semblent avoir une
                influence
                mais rien n'a été confirmé). Leurs yeux peuvent être noirs ou rouges ou une nuance entre les deux,
                sachant que
                cette couleur peut varier selon l'âge. </li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>quasiment impossible à dater, on estime que l'apparition des Migwöck fut à peu près concomitante à
                celle des
                premières grandes civilisations humaines car les premiers témoignages de rencontres avec des êtres ayant
                plus
                ou moins les pouvoirs des Migwöck datent de ce moment. On les a trouvés principalement en Islande mais
                aussi
                dans la culture Inuit, au Groënland. )</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>de réputation assez peureuse, les Migwöck ont un tempérament discret qui ne les rend pas très à l'aise
                en
                public. Pourtant, de nombreuses coopérations ont eu lieu dans l'histoire d'Eckö, souvent fructueuses
                notamment
                car les Migwöck sont des travailleurs, ouvriers ou employés très bien vus en raison de leur pouvoir.
              </li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li>dotés d'une plasticité cérébrale illimitée et comparable à celle d'un enfant humain âgé entre 5 et 10
                ans
                jusqu'à leur mort, les Migwöck peuvent apprendre aussi vite n'importe quelle aptitude qui n'exige pas de
                talent inné particulier. Par exemple, là où apprendre à conduire une voiture demanderait une bonne
                quarantaine
                d'heure de conduite à un humain d'une trentaine d'année, un Migwöck du même âge aura besoin d'une
                dizaine
                d'heures pour atteindre le même niveau. De même, apprendre une nouvelle langue lui demandera une
                immersion de
                5 ou 6 mois seulement pour être capable de tenir une assez bonne conversation de la vie courante, etc.
                Cependant, comme n'importe quel humain, les Migwöck ont des paliers qui vont, à un moment, limiter leurs
                progrès, sauf s'ils ont un don. Ainsi, même si n'importe quel Migwöck peut maîtriser rapidement plus
                rapidement que la moyenne le piano pour être capable de jouer beaucoup de morceaux, s'il n'a ni talent
                ni passion particulière pour cet instrument, il ne deviendra jamais Mozart pour autant. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="contenu sylphes">
      <table class="internal_tab">
        <tr>
          <th class="internal_header">Physique</th>
          <td class="internal_cell">
            <ul>
              <li>Les Sylphes sont semblables aux Humains physiquement. 2 bras, 2 jambes, une peau de teinte variable,
                etc.
                Liés aux vents, ils sont également plus légers, plus agiles, plus souples que les humains. Leurs yeux
                sont
                plus grands que ceux d'un humain et ont souvent des teintes très pales, voir pastel. Leurs cheveux
                diaphanes
                semblent être constamment soufflés par une petite brise.</li>
            </ul>
          </td>
          <th class="internal_header">Histoire</th>
          <td class="internal_cell">
            <ul>
              <li>Originaire d'Europe de l'Ouest, les Sylphes sont apparus il y a près de 2500 ans, d'après les
                historiens. En
                effet, de nombreuses légendes gauloises, celtiques et germaniques de cette époque font mention de ce
                peuple.
                Durant le Moyen-Age, les Sylphes se sont fait assez discrets, mais c'est durant le Renaissance que
                l'Europe
                les redécouvrit, à la suite d'une rencontre cocasse entre une Reine de France et un groupe de sylphes
                lors
                d'une promenade à cheval...</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th class="internal_header">Social</th>
          <td class="internal_cell">
            <ul>
              <li>Les sylphes sont à l'image de leur élément de prédilection : vagabond, aériens et voyageurs. Ce sont
                des
                nomades dociles et pacifiques : ils aiment voyager, explorer, parcourir des distances à pied ou par les
                airs.
                Ils ne tiennent pas en place. Un travail statique les déprimerait. De par leur lien avec l'air, ce sont
                des
                aviateurs nés, d'excellents navigateurs ainsi que météorologues. Passionnés par les arts , ils sont
                souvent
                peintres, photographes ou musiciens. Vivre en ville ne les gênent pas, mais ils ont tendance à avoir la
                bougeotte dans les endroits exigus ou trop fermés, pouvant leur attirer des ennuis. </li>
            </ul>
          </td>
          <th class="internal_header">Pouvoirs</th>
          <td class="internal_cell">
            <ul>
              <li>De part leur légèreté, ils sont capables de sauts prodigieux - plus de 4m -, de flotter sur l'eau
                (comme un
                humain, en faisant la planche, mais plus facilement). Ils sont apparemment capables de planer sur plus
                de 10 m
                de distance. Pour une raison sûrement explicable par la magie anarchique, il est presque impossible de
                déterminer le poids réel d'un sylphe. </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>